{% extends 'base.html' %}

{% block title %}Calendar{% endblock %}

{% block content %}
    <div class="container">
        <h1>Calendar</h1>
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#addEventModal">
            <i class="fas fa-plus"></i> Add New Event
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark" id="addEventModalLabel">Add New Event</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form to add new event -->
                        <form method="post" action="/projects/{{ project_id }}/calendar/">
                            {% csrf_token %}
                            <div class="mb-2">
                                <label for="title" class="form-label text-dark">Title</label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
                            </div>
                            <div class="mb-2">
                                <label for="description" class="form-label text-dark">Description</label>
                                <textarea class="form-control" id="description" name="description" placeholder="Enter description" required></textarea>
                            </div>
                            <div class="mb-2">
                                <label for="event_date" class="form-label text-dark">Event Date</label>
                                <input type="datetime-local" class="form-control" id="event_date" name="event_date" placeholder="Select event date" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Event</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
            {% for event in events %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title text-white">{{ event.title }}</h3>
                        <p class="card-text text-white">Description: {{ event.description }}</p>
                        <p class="card-text text-white">Event Date: {{ event.event_date }}</p>
                    </div>
                    <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between align-items-center">
                        <p class="card-text text-white">Created by: {{ event.created_by.username }}</p>
                    </div>
                    <div class="d-inline-block rounded m-3">
                        <a href="{% url 'projects:delete-calendar' project_id=project_id calendar_id=event.id %}" class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-trash-alt me-2"></i>Delete
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-center text-white">No events in the calendar.</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
