{% extends 'base.html' %}

{% block title %}Collaboration for {{ project.name }}{% endblock %}

{% block content %}
    <h1>Collaboration for {{ project.name }}</h1>

    <h2>Requests to Join</h2>
    <ul>
        {% for user in project.users_requested_projects.all %}
            <li>
                {{ user.username }}
                <a href="{% url 'projects:approve-request' project.id user.id %}">Approve</a>
                <a href="{% url 'projects:deny-request' project.id user.id %}">Deny</a>
            </li>
        {% empty %}
            <li>No requests to join.</li>
        {% endfor %}
    </ul>

    <h2>Current Members</h2>
    <ul>
        {% for member in project.members.all %}
            <li>{{ member.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}
